@import "./src/styles/mixins";

.nav {
  @include component;
  max-width: 200px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item a {
  color: #242e42;
  text-decoration: none;
}

.item a:hover {
  position: relative;
}

.item a:hover::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #242e42;
  position: absolute;
  top: 8px;
  left: -10px;
}

.item .active {
  position: relative;
}

.item .active::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #242e42;
  position: absolute;
  top: 8px;
  left: -10px;
}