.app-wrapper {
    display: grid;
    width: 80%;
    margin: 0 auto;

    grid-template-areas: "header header"
                        "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: header;
    background: black;
    color: wheat;
}

.nav {
    grid-area: nav;
    background: aqua;
}

.content {
    grid-area: content;
    border: 1px solid red;
}